  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Recipes</a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/tags/">Tags</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-menu">
    <li><a href="/tags/">Tags</a></li>
  </ul>

