{% extends "layouts/base.html" %}
{% import "function/checkbox.html" as checkbox %}

{% set filename="img/{}.png".format(recipe.path) %}

{% block content %}
<div class='row'>
    <div class='col s12 m3'>
        <img src="{{ url_for('static', filename=filename) }}" class='responsive-img circle'/>
    </div>
    <div class='col s12 m9'>
        <div class='container'>
            <div class='row'>
                <div class='col s12'>
                    <h3>{{recipe.title}}</h3>
                </div>
                {% if recipe.meta.equipment %}
                <div class='col s12'>
                    <h6>Equipment</h6>
                    {% for item in recipe.meta.equipment %}
                        {{ checkbox.render(item) }}
                    {% endfor %}
                </div>
                {% endif %}
                <div class='col s12'>
                    <h6>Ingredients</h6>
                    {% for ingredient in recipe.meta.ingredients %}
                        {{ checkbox.render(ingredient) }}
                    {% endfor %}
                </div>
                <div class='col s12'>
                    {% for step in recipe.meta.directions %}
                        {{ checkbox.render(step) }}
                    {% endfor %}
                </div>
                <div class='col s12'>
                    <h6>Notes</h6>

                    {{recipe.html|safe}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
