{% extends "layouts/base.html" %}

{% block content %}
<div class='row'>
    <div class='collection'>
        {% for t, i in tags.items() %}
        <a class='collection-item' href='/tag/{{t}}/'>{{t}}<span class='new badge secondary-content' data-badge-caption="recipes" >{{i|length}}</span></a>
        {% endfor %}
    </div>
</div>
{% endblock %}
