{% macro render(page) %}
{% set filename="img/{}.png".format(page.path) %}
<div class="col s12 m6">
    <div class="card-panel small">
        <div class='row'>
            <div class='col s12 m4'>
                <img src="{{ url_for('static', filename=filename) }}" class='responsive-img circle'/>
            </div>
            <div class='col s12 m8'>
                <div class='row'>
                    <div class='col s12'>
                        <a href='/recipe/{{page.path}}/'><h5>{{page.title}}</h5></a>
                    </div>

                    <div class='col s12'>
                    <div class='container valign-wrapper'>
                    {% for tag in page.meta.tags %}
                    <a href='/tags/{{tag}}/'><span class="new badge" data-badge-caption="{{tag}}"></span></a>
                    {% endfor %}
                    </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
